<%- include("../partials/header") %>
<body>
    <%- include("../partials/navbar.ejs", {
        user: user,
        whichPage: "user-show-page"
    }) %>
    <div id="user-show-page">
        <div id="container">
            <div id="options">
                <p><%= user.displayName %>'s Posts</p>
                <p>Activities</p>
            </div>
            <div id="user-posts">
                <h3>Posts</h3>
                <ul>
                    <p><%= posts.length === 0 ? "This user has not posted yet" : "" %></p>
                    <% for(let i = 0; i < posts.length; i++) { %>
                        <li>
                            <a href="/posts/<%= posts[i]._id %>">
                                <% if(posts[i].title.length > 30) { %>
                                    <%= posts[i].title.substring(0, 30) %>...
                                <% } else { %>
                                    <%= posts[i].title %>
                                <% } %>
                            </a>
                            <div id="description">
                                <small><%= posts[i].language %></small>
                                <small><%= posts[i].comments.length %> comment<%= posts[i].comments.length === 1 ? "" : "s" %></small>
                            </div>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div id="user-activities">
                <h3>Activities</h3>
                <ul>
                    <p><%= relatedPosts.length === 0 ? "This user has not commented on other posts yet" : "" %></p>
                    <% for(let i = 0; i < relatedPosts.length; i++) { %>
                        <li>
                            <a href="/posts/<%= relatedPosts[i]._id %>"><h4><%= relatedPosts[i].title %></h4></a>
                        <% for(let j = 0; j < relatedPosts[i].comments.length; j++) { %>
                            <% if(user._id.toString() === relatedPosts[i].comments[j].creator.userID) { %>
                                <small><span id="display-name"><%= relatedPosts[i].comments[j].creator.displayName %></span>: <%= relatedPosts[i].comments[j].comment %></small>
                            <% } %>
                        <% } %>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</body>
<script>
    const userPosts = document.querySelector("#user-posts")
    const userPostsButton = document.querySelector("#options p:nth-child(1)");
    const userActivities = document.querySelector("#user-activities");
    const userActivitiesButton = document.querySelector("#options p:nth-child(2)");
    userPostsButton.addEventListener("click", () => {
        userActivities.style.display = "none";
        userActivitiesButton.style.backgroundColor = "inherit"
        userPosts.style.display = "flex";
        userPostsButton.style.backgroundColor = "rgba(0, 0, 0, 0.151)";
    })
    userActivitiesButton.addEventListener("click", () => {
        userPosts.style.display = "none";
        userPostsButton.style.backgroundColor = "inherit"
        userActivities.style.display = "flex";
        userActivitiesButton.style.backgroundColor = "rgba(0, 0, 0, 0.151)";
    })
</script>
</html>