<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="/users">Back to all Users</a>
        <h1><%= user.displayName %></h1>
        <div>
            <h3>Posts</h3>
            <ul>
                <% for(let i = 0; i < posts.length; i++) { %>
                    <li><a href="/posts/<%= posts[i]._id %>"><%= posts[i].title %></a></li>
                <% } %>
            </ul>
            <h3>Activities</h3>
            <ul>
                <% for(let i = 0; i < relatedPosts.length; i++) { %>
                    <a href="/posts/<%= relatedPosts[i]._id %>"><h4><%= relatedPosts[i].title %></h4></a>
                    <% for(let j = 0; j < relatedPosts[i].comments.length; j++) { %>
                        <% if(user._id.toString() === relatedPosts[i].comments[j].creator.userID) { %>
                            <small><%= relatedPosts[i].comments[j].creator.displayName %>: <%= relatedPosts[i].comments[j].comment %></small>
                        <% } %>
                    <% } %>
                <% } %>
            </ul>
        </div>
</body>
</html>