<%- include("../partials/header") %>
<body>
    %- include("../partials/navbar.ejs", {
        user: currentUser,
        whichPage: "post-edit-page"
    }) %>
    <div id="post-edit-page">
        <div id="container">
            <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
                <div id="post-container">
                    <div id="post-header">
                        <div id="creator-info">
                            <input id="edit-title" name="title" value="<%= post.title %>"> 
                            <button type="submit">Submit Changes</button>
                        </div>
                        <small>Posted By: <a href="/users/<%= post.creator.userID %>"><%= post.creator.displayName %></a></small>
                    </div>
                    <div id="edit-post-body">
                        <input id="edit-description" name="description" type="text" value="<%= post.description %>"></input>
                        <textarea id="edit-body" name="body"><%= post.body %></textarea>
                    </div>
                </div>
            </form>
            <div id="comments-container">
                <h1>All Comments</h1>
                <div id="comment-input">
                    <form action="/posts/<%= post._id %>/comment" method="POST">
                        <textarea id="comment-body" name="comment" disabled="disabled"></textarea>
                    </form>
                </div>
                <% for(let i = 0; i < comments.length; i++) { %>
                    <div class="comments-div <%= i < 3 ? 'top-comment' : '' %>">
                        <p><a href="/users/<%= comments[i].creator.userID %>"><%= comments[i].creator.displayName %></a></p>
                        <pre><%= comments[i].comment %></pre>
                        <div>
                            <form id="like-form" action="/posts/<%= post._id %>/<%= comments[i]._id %>/like" method="POST">
                                <button id="like-button" type="submit" disabled="disabled">
                                    <% if(comments[i].likedBy.indexOf(currentUser._id) === -1) { %>
                                        <img src="/css/images/thumbs-up.png">
                                    <% } else { %>
                                        <img src="/css/images/thumbs-up-filled.png">
                                    <% } %>
                                </button>
                                <%= comments[i].likedBy.length %>
                            </form>
                            <% if(post.creator.username === currentUser.username || currentUser.username === comments[i].creator.username) { %>
                                <form action="/posts/<%= post._id %>/<%= comments[i]._id %>?_method=DELETE" method="POST">
                                    <button id="delete-button" type="submit" disabled="disabled">DELETE</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</body>
<script>
    const commentBody = document.querySelector("#edit-body");
    console.log(commentBody)
    commentBody.addEventListener("keypress", (e) => {
        if(e.which === 13 && !e.shiftKey){
            e.target.form.dispatchEvent(new Event("submit", {cancelable: true}));
            document.querySelector("#post-edit-page form").submit();
            e.preventDefault();
        }
    })
</script>
</html>