<%- include("../partials/header") %>
<body>
    <!-- <div>
        <a href="/users">All Users</a>
    </div> -->
    <div id="post-title">
        <div id="post-title-div">
        </div>
        <h1>ALL POST</h1>
        <i id="down-arrow" class="fas fa-angle-double-down"></i>
    </div>
    <%- include("../partials/navbar.ejs", {
        user: user
    }) %>
    <div id="all-posts">
        <% if(posts.length === 0) { %>
            <h1 id="post-empty">There's nothing here.</h1>
        <% } %>
        <% for(let i = 0; i < posts.length; i++) { %>
            <div class="posts">
                <h3><a href="/posts/<%= posts[i]._id %>"><%= posts[i].title %></a></h3>
                <small><%= posts[i].language %></small>
            </div>
        <% } %>
    </div>
</body>
<script>
    const downArrow = document.querySelector("#down-arrow");
    const postTitleDiv = document.querySelector("#post-title-div");
    const navBar = document.querySelector(".nav");
    const posts = document.querySelector("#all-posts");

    downArrow.addEventListener("click", () => {
        scrollTo(0, postTitleDiv.scrollHeight+4);
    })
    document.addEventListener("scroll", () => {
        const scrollTop = document.documentElement.scrollTop;
        if(scrollTop > postTitleDiv.scrollHeight) {
            navBar.style.position = "fixed";
            navBar.style.top = 0;
            posts.style.marginTop = `${navBar.offsetHeight}px`;
        } else {
            navBar.style.position = null;
            navBar.style.top = null;
            posts.style.marginTop = 0;
        }
    })
</script>
</html>