<%- include("../partials/header") %>
<body>
    <!-- <div>
        <a href="/users">All Users</a>
    </div> -->
    <div id="post-page-title">
        <div id="title-cover">
        </div>
        <h1>ALL POST</h1>
        <i id="down-arrow" class="fas fa-angle-double-down"></i>
    </div>
    <%- include("../partials/navbar.ejs", {
        user: user
    }) %>
    <div id="all-posts">
        <% if(posts.length === 0) { %>
            <h1 id="post-empty">There's nothing here.</h1>
        <% } %>
        <% for(let i = 0; i < posts.length; i++) { %>
            <div class="posts">
                <div class="title">
                    <a href="/posts/<%= posts[i]._id %>">
                        <% if(posts[i].title.length > 45) { %>
                            <%= posts[i].title.substring(0, 45) %>...
                        <% } else { %>
                            <%= posts[i].title %>
                        <% } %>
                    </a>
                </div>
                <div class="description">
                    <small>Posted By <a href="/users/<%= posts[i].creator.userID %>"><%= posts[i].creator.displayName %></a></small>
                    <small><%= posts[i].language %></small>
                    <small><%= posts[i].comments.length %> comment<%= posts[i].comments.length === 1 ? "" : "s" %></small>
                </div>
            </div>
        <% } %>
    </div>
</body>
<script>
    const downArrow = document.querySelector("#down-arrow");
    const postTitleDiv = document.querySelector("#post-page-title");
    const navBar = document.querySelector(".nav");
    const posts = document.querySelector("#all-posts");

    downArrow.addEventListener("click", () => {
        scrollTo(0, postTitleDiv.scrollHeight+4);
    })
    document.addEventListener("scroll", () => {
        const scrollTop = window.pageYOffset;
        if(scrollTop > postTitleDiv.scrollHeight) {
            navBar.classList.add("sticky");
            posts.classList.add("move")
        } else {
            navBar.classList.remove("sticky");
            posts.classList.remove("move")
        }
        console.log(scrollTop);
    })
</script>
</html>