<%- include("../partials/header") %>
<body>
    <!-- <div>
        <a href="/users">All Users</a>
    </div> -->
    <div class="post-title">
        <div class="post-title-div">
        </div>
        <h1>ALL POST</h1>
        <i class="fas fa-angle-double-down"></i>
    </div>
    <%- include("../partials/navbar.ejs", {
        user: user
    }) %>
    <a href="/posts/new">Post your broken code!</a>
    <% for(let i = 0; i < posts.length; i++) { %>
        <div>
            <h3><a href="/posts/<%= posts[i]._id %>"><%= posts[i].title %></a></h3>
            <small><%= posts[i].language %></small>
        </div>
    <% } %>
</body>
<script>
    // const postTitle = document.querySelector(".post-title");
    // function determineScroll() {
    //     let windowYPos = window.pageYOffset;
    //     if(windowYPos > 350) {
    //         postTitle.style.backgroundImage = "linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/css/images/homepageImg.jpg')";
    //     } else {
    //         postTitle.style.backgroundImage = "url('/css/images/homepageImg.jpg')"
    //     }

    // }
    // document.addEventListener("scroll", determineScroll);
</script>
</html>