<%- include("../partials/header") %>
<body>
    <div>
        <a href="/posts/#nav">Back to all Posts</a>
        <div>
            <h1><%= post.title %></h1>
            <small>Posted By: <a href="/users/<%= post.creator.userID %>"><%= post.creator.displayName %></a></small>
        </div>
        <div>
            <p><%= post.description %></p>
        </div>
        <div>
            <p><pre><%= post.body %></pre></p>
        </div>
    </div>
    <div>
        <h1>Comments</h1>
        <form action="/posts/<%= post._id %>/comment" method="POST">
            <input type="text" name="comment" autocomplete="off">
            <button type="submit">Comment</button>
        </form>
        <% for(let i = 0; i < comments.length; i++) { %>
            <p><a href="/users/<%= comments[i].creator.userID %>"><%= comments[i].creator.displayName %></a><br/> <%= comments[i].comment %></p>
            <form action="/posts/<%= post._id %>/<%= comments[i]._id %>/like" method="POST">
                <button id="like-button" type="submit">
                    <i class="far fa-heart"></i>
                </button>
            </form>
            <% if(post.creator.username === currentUser.username || currentUser.username === comments[i].creator.username) { %>
                <form action="/posts/<%= post._id %>/<%= comments[i]._id %>?_method=DELETE" method="POST">
                    <button type="submit">delete comment</button>
                </form>
            <% } %><br/>
        <% } %>
    </div>
    <div>
        <% if(post.creator.username === currentUser.username) { %>
            <form action="/posts/<%= post._id %>/?_method=DELETE" method="POST">
                <button type="submit">Delete Post</button>
            </form>
        <% } %>
    </div>
</body>
<script>
    const hearts = document.querySelectorAll("i");
    hearts.forEach(heart => {
        heart.addEventListener("click", (e) => {
            if(e.target.className === "far fa-heart") {
                e.target.className = "fas fa-heart";
            } else {
                e.target.className = "far fa-heart";
            }
        })
    })
</script>
</html>