<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="/posts">Back to all Posts</a>
        <div>
            <h1><%= post.title %></h1>
            <small>Posted By: <a href="/users/<%= post.creator._id %>"><%= post.creator.displayName %></a></small>
        </div>
        <div>
            <p><%= post.description %></p>
        </div>
        <div>
            <p><pre><%= post.body %></pre></p>
        </div>
    </div>
    <div>
        <h1>Comments</h1>
        <form action="/posts/<%= post._id %>/comment" method="POST">
            <input type="text" name="comment" autocomplete="off">
            <button type="submit">Comment</button>
        </form>
        <% for(let i = 0; i < comments.length; i++) { %>
            <p><a href="/users/<%= comments[i].userID %>"><%= comments[i].commentedBy %></a><br/> <%= comments[i].comment %></p>
            <% if(post.creator.username === currentUser.username || currentUser._id.toString() === comments[i].userID) { %>
                <form action="/posts/<%= post._id %>/<%= comments[i]._id %>?_method=DELETE" method="POST">
                    <button type="submit">delete comment</button>
                </form>
            <% } %><br/>
        <% } %>
    </div>
    <div>
        <% if(post.creator.username === currentUser.username) { %>
            <form action="/posts/<%= post._id %>/?_method=DELETE" method="POST">
                <button type="submit">Delete Post</button>
            </form>
        <% } %>
    </div>
</body>
</html>